<div class="container-fluid main-container">

    <div class="col-md-2 sidebar">

	<div class="row">
	    <div class="absolute-wrapper"> </div>
	    <div class="side-menu">

		<nav class="navbar navbar-default" role="navigation">

		    <div class="side-menu-container">

			<ul class="nav navbar-nav">

			    <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Groups</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon glyphicon-plane"></span> Other</a></li>

			</ul>

		    </div>

		</nav>

	    </div>

	</div>

    </div>

</div>
