<header class="masthead mb-auto">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Dashboard</a>
      <a class="nav-link" href="#">Overview</a>
      <a class="nav-link" href="#">Support</a>
      <a class="nav-link" href="#">Login</a>
      <a class="nav-link" href="#">Signup</a>
    </nav>
  </div>
</header>
