<!doctype html>
<html>

    <head>
    	<title>Admin Dashboard</title>
    </head>

    <body>
        <h1>Click the Image Now ! Muahahahahaha</h1>
    	<img src = "images/dashboard.jpg" onclick = "addSpace(event, this)">
    	<p id = "demo"></p>
        <button onclick="submitSpaces()">Submit</button>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        var counter = 0;
    	spaces = [];
    	function addSpace(event, elem) {

        var rect = elem.getBoundingClientRect();

    		var x = Math.floor(event.clientX - rect.left);
    		var y = Math.floor(event.clientY - rect.top);
    		var type = prompt("What type of slot is this?", "All");

    		space = {
                space_id: counter++,
    			type: type,
    			x_coord: x,
    			y_coord: y
    		};

    		spaces.push(space);
    		var lot = "";
    		for (var i = 0; i < spaces.length; i++)
    			lot += spaces[i].type +
    					" x_coord: " +
    					spaces[i].x_coord +
    					" y_coord: " +
    					spaces[i].y_coord;

    		document.getElementById("demo").innerHTML = lot;

    	}

        function submitSpaces(){
            $.ajax({
            url: '/add_space',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(spaces),
            success: function(result, status, xhr) {
                console.log(result);
                // window.location = '/dashboard';
            },
            error: function(xhr, status, error) {
                console.log(error);
            },
            contentType: "application/json"
            });
        }

    </script>

</html>
