<!doctype html>
<html>

    <head>
	<% include partials/head %>
	<link rel="stylesheet" href="stylesheets/sidebar.css">
	<link rel="stylesheet" href="stylesheets/buttons.css">
    </head>
    <body>

	<% include partials/header %>

	<div class="container-fluid main-container">
	    <div class="col-md-2 sidebar">
		<div class="row">
		    <div class="absolute-wrapper"> </div>
		    <!-- Menu -->
		    <div class="side-menu">
			<nav class="navbar navbar-default" role="navigation">
			    <!-- Main Menu -->
			    <div class="side-menu-container">
				<ul class="nav navbar-nav">
				    <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Groups</a></li>
				    <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
				    <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Link</a></li>
				</ul>
			    </div><!-- /.navbar-collapse -->
			</nav>
			<button id="new_group" type="button" class="btn btn-labeled btn-success">
			    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>New Group</button>
		    </div>
		</div>
	    </div>
	
	    <div class="col-md-9 content">
	        <% groups.forEach(function(group) { %>
	    	<div class="panel panel-default">
    		    <div class="panel-heading">
    			Group <%= group.group_id %>:
    		    </div>
    		    <div class="panel-body">
	    		Description
			<br>
			<button id="delete_group" type="button" class="btn btn-labeled btn-danger panel-button" value="<%= group.group_id %>">
	                    <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Trash</button>
			<button id="join_group" onclick="location.href = '/chat?id=' + '<%=
        group.group_id %>' + '&room=general' + '&private=false';" class="btn btn-labeled btn-info panel-button" value="<%= group.group_id %>">
			    <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>Join</button>
	    	    </div>
	    	</div>
	        <% }) %>
	   </div>
	</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript'>
	
	    $(document).ready(function() {
		$("#new_group").click(function(e) {
		    e.preventDefault();

		    let user = {user: 'email@address.com'};
		    $.ajax({
			type: 'POST',
			url: 'groups/new_group',
			dataType: 'json',
			data: JSON.stringify(user),
			success: function(result, status, xhr) {
			    location.reload();
			},
			error: function(xhr, status, error) {
			    console.log(error);
			},
			contentType: 'application/json'
		    });
		});

		$("#delete_group").click(function(e) {
		    e.preventDefault();
		    
		    let group = { group_id: $("#delete_group").val() };
		    $.ajax({
			type: 'POST',
			url: 'groups/delete_group',
			dataType: 'json',
			data: JSON.stringify(group),
			success: function(result, status, xhr) {
			    location.reload();
			},
			error: function(xhr, status, error) {
			    console.log(error);
			},
			contentType: 'application/json'
		    });
		});

	    });

	</script>

    </body>

</html>
